html, body { margin: 0; height: 100%; font-size: 16px }

.transform-enligne { display: inline-block; }

/* -----------------------------------------  */
/* NAVIGATION                                 */
/* ------------------------------------------ */

#logo{ width: 120px; height: auto; }
.admin { color: #fff; }
.admin:hover { color: #ea2027; }
nav .active{ font-weight: bold; }
nav button{ max-height: 3rem; }

/* -----------------------------------------  */
/* HEADERS                                    */
/* ------------------------------------------ */

@font-face { font-family: "Shogun"; src: url("assets/fonts/shoguns-clan-accentued.otf"); }

.header { min-height: 60vh; position: relative; color: #fff;
          margin-bottom: 0; padding-top: 0.5rem; padding-bottom: 0.5rem; text-align: center; }
.header-episode { position: relative; color: #fff; margin-bottom: 0; padding-top: 0.5rem;
                  padding-bottom: 0.5rem; text-align: center; }        
.header-fond { min-height: 60vh; background-size: cover; background-position: top; padding: 0; margin: 0; }
header .container { position: relative; min-height: 60vh; }

.pre-titre-saison { font-size: 3rem; margin: 0;}
.pre-titre-chapitre { font-size: 2.5rem; margin: 0;}

.lead-stylise { text-align: center; font-family: "Shogun"; margin-top: 2rem; margin-bottom: 0; line-height: 1.2;
                text-shadow: 0 0 2rem rgba(0, 0, 0, .5);}

.fleche { width: 28px; }

.citation { font-size: 1.25rem; font-style: italic; margin-bottom: 1rem; text-shadow: 2px 2px 6px black, 0px 0px 2rem black; }
@media(max-width: 480px){ .citation { font-size: 1rem; } }

.petit { font-size: 3rem; }
.grand { font-size: 9rem; }
.chapitre-fond .petit { font-size: 2.5rem; }
.chapitre-fond .grand { font-size: 8rem; }
@media(max-width: 576px){ .petit { font-size: 1.70rem; } .grand { font-size: 4.5rem; } }
@media(max-width: 480px){ .petit{ font-size: 1.2rem; } .grand { font-size: 3.5rem; } .display-5 { font-size: 2rem; } .display-4 { font-size: 3rem; } }
.chapitre-fond p.lead-stylise, .episode-fond p.lead-stylise { margin-top: 6rem; }
#header-empire { background-image: linear-gradient(rgb(0,30,0,0.5),rgba(0, 30, 0, 0.5)),url('images/header-empire.jpg'); }
#header-regles{ background-image: linear-gradient(rgb(0,0,30,0.5),rgba(0, 0, 30, 0.5)),url('images/header-regles.jpg'); }

/* -----------------------------------  */
/* FOND IMAGE DES CHAPITRES             */
/* ------------------------------------ */

.chapitre-fond, .episode-fond{ min-height: 60vh; background-size: 100% auto; background-repeat: no-repeat; background-position: top; }
@media(max-width: 1200px) { .chapitre-fond, .episode-fond { background-size: 150% auto; } }
@media(max-width: 992px) { .chapitre-fond, .episode-fond { background-size: 200% auto; } }
@media(max-width: 576px){ .chapitre-fond, .episode-fond { background-size: 250% auto; } }
@media(max-width: 480px) { .chapitre-fond, .episode-fond { background-size: 300% auto; } }

/* -----------------------------------  */
/* PAGE EPISODE                         */
/* ------------------------------------ */

.numero-episode-courant { position: absolute; color: white; font-weight: bold; z-index: 100; }
#liste-ch { background-color: #f0f0f0; }

/* -----------------------------------  */
/* DIVIDERS                             */
/* ------------------------------------ */

.header hr, .header-episode hr { background-color: white; height: 1px; margin-top: 0.5rem; margin-bottom: 0.5rem; }
.division { width: 30%; }
@media(max-width: 480px) { .division { width: 50%; } }
.division-motif { width: 36px; height: auto; }
.division hr { background-color: #ffbbbb; height: 1px; width: 100%; }
.chapitre-separateur { display: block; color: #fff; min-height:0.4rem; background-color: rgb(40, 0, 0); }

/* -----------------------------------  */
/* LINKS                                */
/* ------------------------------------ */

a.pardessus-clair { color: #aaa; font-weight: bold; }
a.pardessus-clair:hover { color: #fff; font-weight: bold; }

/* -----------------------------------  */
/* CARDS                                */
/* ------------------------------------ */

.card-btn { color: rgba(255,255,255,0.6); background-color: unset; text-align: center; }
.card-btn:hover { color: rgba(255,255,255,1); }
.card-btn svg { width: 40px; }

.card.liste { background-color: #fff;
            min-height: 380px;
            max-height: 380px;
            border-radius: 4px;
            box-shadow: 4px 4px 10px rgba(0,0,0,0.25); }
.gros-bouton:hover { text-decoration: none; }

.card.new{ color: rgba(255,255,255,0.6);
        background-color: unset;
        border: solid 1px rgba(255,255,255,0.40);
        min-height: 380px;
        max-height: 380px;
        text-align: center;
        justify-content: center;
        align-items: center; }
.card.new:hover { border: solid 1px rgba(255,255,255,0.8); color: rgba(255,255,255,1); }
.card.new svg { width: 40%; }

@media(max-width: 480px) { .episode .card { border-radius: 0; box-shadow: unset; } }
.card-body{ padding: 0.75rem; }

.card-text { color: black; font-size: 1rem; text-align: left; text-justify: inter-word; }
.card-text.disabled { color: #bfbfbf; }

/* -----------------------------------  */
/* TEXTE SCENE                          */
/* ------------------------------------ */
.texte-scene a { font-weight: bold; }

a.perso-img img { width: 24px; }
a.perso-img { display: inline-block; }

.card .numero{ color: white;
            font-size:3rem;
            font-weight: bold;
            position: absolute;
            left: 16px;
            top: 54px;
            z-index: 100 }
@media (min-width: 480px) { .episode-fond .card-body { padding-left: 4rem; padding-right: 4rem; padding-top: 3rem; padding-bottom: 1rem; } }
.ancre-scene { position:relative; }
.scene-heure{ position: absolute; color: white; }
@media (min-width: 480px) { .scene-heure { top: -8rem; } }
@media(max-width: 480px) { .scene-heure { top: -5rem; } }
.chapitre-fond .card-title { color: white; font-weight: bold; position: absolute; top: -30px; }
.scene-heure h3, .scene-heure h5 { margin-bottom: 0; }
.btn-lire-ep { position: absolute; bottom: 1rem; }
.newpad{ padding-right: 8px; padding-left: 8px; padding-top: 8px; padding-bottom: 8px; }
@media(max-width: 480px) { .newpad { padding-right: 0; padding-left: 0; } .episode .newpad { padding: 0; } }
.fond-mask { background-color: black; }
.fond-mask img { mask-image: linear-gradient(to top, rgba(0,0,0,0.2),rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,1)); }
.fond-mask-fonce { background-color: black; }
.fond-mask-fonce img { mask-image: linear-gradient(to top, rgba(0,0,0,0.25),rgba(0,0,0,0.50),rgba(0,0,0,1),rgba(0,0,0,1)); }
.card-img-overlay { top: unset; padding: 0.5rem; }
.card-img-overlay h4 { margin-bottom: 0; }

/* -----------------------------------  */
/* BOUTONS                              */
/* ------------------------------------ */

.header-btn { position: absolute; top: 12px; right: 0px; font-size: 1.75rem;}
.btn-saison { padding: 0.3rem 1rem !important; }
.btn-primary { background-color: #EA2027 !important; border-color: #b6252f !important; }
.btn-primary:hover, .btn-primary:active, .btn-primary:target { background-color: #ff4147 !important; border-color: #d12f3a !important; }
.btn-primary.disabled { background-color: #b4b4b4 !important; border-color: #9f9f9f !important; }
.remove-participants, .remove-participants_pnjs { background-color: #e9ecef; }

/* -----------------------------------  */
/* FORMS                                */
/* ------------------------------------ */

fieldset{ border: 1px solid #ccc; margin-bottom: 8px; }
.custom-file-label::after { content: "Parcourir"; }

/* -----------------------------------  */
/* ALERTES                              */
/* ------------------------------------ */

.volatile { position: absolute; left: 50%; top: 0px; transform: translate(-50%, -50%); }
.persistante { font-size: 1rem; display: inline-block; color: rgba(255, 255, 255, .4); background-color: rgba(0, 0, 0, .4) !important;
                border-color: rgba(255, 255, 255, 0.2) !important; margin-bottom: 0;}

/* -----------------------------------  */
/* ASSETS                               */
/* ------------------------------------ */

img.disabled { filter:grayscale(); }
img.survol:hover{ filter: brightness(1.3); transition: .5s; }
.survol:hover{ filter: brightness(1.3); transition: .5s; }


/* -----------------------------------  */
/* FOOTERS                              */
/* ------------------------------------ */

.bg-footer1{ background-color: #28323C; height: 24vh; }
.bg-footer1 h5{ color: rgb(173, 173, 173); }
.bg-footer2{ background-color: #1E242A; height: 8vh; }
.footer-link{ color: rgb(156, 161, 170); }
.footer-link:hover{ color: white; text-decoration: underline; }

/* ------------------------------ */
/* SCENES                         */
/* ------------------------------ */
.ligne-icones { position: relative; top: -36px; }
.xp { color: rgb(0, 100, 0); text-shadow: 1px 1px 0 #0f0, -1px -1px 0 #0f0, 1px -1px 0 #0f0, -1px 1px 0 #0f0; }
.perso-icone { width: 64px; border-radius: 5px; }
.mort { filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8); };
.mort-icone { width: 72px; position: absolute; top: -6px; left: -2px; z-index: 1; }