{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<main class="container-fluid bg-light py-5">
    <section class="container">
        <h1 class="mb-5">Veuillez-vous connecter</h1>
        <div class="col-10 offset-1">
            {{ include('/parts/form-se-connecter.html.twig') }}
        </div>
    </main>
{% endblock %}